:root {
	/* --primary:
    --secundary: */
	--colorBtn1: rgb(198, 178, 0);
	--colorBtn2: rgba(198, 178, 0, 0.521);
	--negro: rgb(0, 0, 0);
	--blanco: rgb(255, 255, 255);

	--fuentePrincipal: "Roboto", sans-serif;
	--fuenteSecundaria: "Saira", sans-serif;
	--fuenteTerciaria: "Lato", sans-serif;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h2 {
	font-family: var(--fuenteSecundaria);
}

body {
	line-height: 1.5;
	font-size: 1.6rem;
	font-family: var(--fuenteTerciaria);
}

img {
	max-width: 100%;
	display: block;
}

.text-center {
	text-align: center;
}

/* Pagina-bienvenidos */

.bg-color {
	background-image: linear-gradient(to right, rgba(21, 21, 21, 0.552) 0%, rgba(0, 0, 0, 0.603) 100%), url(../imgs/photo-hero1.avif);
	background-repeat: no-repeat;
	height: 100vh;
}
@media (min-width: 768px) {
	.bg-color {
		height: 100vh;
		background-size: cover;
		background-image: linear-gradient(to right, rgba(21, 21, 21, 0.758) 0%, rgba(0, 0, 0, 0.785) 100%), url(../imgs/photo-hero1.avif);
	}
}
.container-bvn {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}
@media (min-width: 768px) {
	.container-bvn {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
	}
}

.container-bvn img {
	border-radius: 40rem;
	max-width: 20rem;
	margin: 0 auto;
}
@media (min-width: 980px) {
	.container-bvn img {
		margin: 5rem;
		max-width: 40rem;
	}
}

.container-contenido-bvn {
	color: var(--blanco);
	backdrop-filter: blur(1rem);
	text-align: center;
	border-radius: 3rem;
	padding: 2rem 0;
}

@media (min-width: 768px) {
	.container-contenido-bvn {
		padding: 2rem 4rem;
		box-shadow: 0.3rem 0.3rem 3rem #0000005c;
	}
}

.container-contenido-bvn h1 {
	font-size: 3.9rem;
	margin: 0;
}
@media (min-width: 980px) {
	.container-contenido-bvn h1 {
		font-size: 8rem;
	}
}

.container-contenido-bvn p {
	font-size: 2rem;
}
@media (min-width: 980px) {
	.container-contenido-bvn p {
		font-size: 3rem;
	}
}

.container-botones-bvn {
	margin-top: 5rem;
}

.container-botones-bvn a {
	display: block;
	padding: 0.8rem 1rem;
	margin: 2rem;
	background-color: var(--colorBtn1);
	text-decoration: none;
	color: var(--blanco);
	border-radius: 1rem;
	border: 0.1rem solid rgba(0, 0, 0, 0);
	font-weight: bold;
	transition: color, background, 0.5s ease;
}
@media (min-width: 980px) {
	.container-botones-bvn a {
		display: inline-block;
		font-weight: normal;
	}

	.btn-cv {
		width: 13rem;
	}
}

.container-botones-bvn .btn-cv {
	background-color: #00000000;
	border: 0.1rem solid var(--colorBtn2);
}

.container-botones-bvn .btn-portfolio {
	color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
	.container-botones-bvn .btn-portfolio {
		width: 20rem;
		background-color: var(--colorBtn2);
		color: var(--blanco);
	}
}

.container-botones-bvn a:hover {
	box-shadow: -0.2rem 0.2rem 2rem rgba(255, 255, 255, 0.727);
	background-color: var(--colorBtn1);
	color: var(--negro);
	border: 0.1rem solid var(--negro);
	font-weight: bold;
	border-radius: 2rem;
    text-decoration: underline;
}
